.listSocials {
    list-style-type: none;
    padding: 0;
}

.socials {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0000001a;
    color: gray;
}

.socials span {
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 2px;
}

.cardButtons {
    margin-left: auto;
}

.cardButtons button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.cardButtons button:hover {
    background-color: #f0f0f0;
}

.cardButtons button i {
    font-size: 1.2rem;
    color: gray;
}
