*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    list-style: none;
}
:root{
    --body:#e3e9f7;
    --text2:#6b6b6b;
    --card:#9443ff;
}
.dashBoardContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--body);
    display: flex;
    gap: 22px;
}