.containerLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 122;
}
.containerLoading.absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--base);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 122;
}
.spinner1{
    padding: 12px;
    border: 2px solid var(--buttons);
    border-radius: 50%;
    border-bottom: 2px solid transparent;
    animation: spinner .3s linear infinite;
}
.spinner2{
    padding: 12px;
    border: 2px solid var(--buttons);
    border-radius: 50%;
    border-bottom: 2px solid transparent;
    animation: spinner .5s linear infinite reverse;
}
.spinner3{
    padding: 12px;
    border: 2px solid var(--buttons);
    border-radius: 50%;
    border-bottom: 2px solid transparent;
    animation: spinner .3s linear infinite reverse;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
